* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:gainsboro;
    padding: 20px;
}
/* Top Bar */
.top-bar {
    background: grey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
/* Navigation */
nav {
    background: rgb(253, 252, 252);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0px 2px 5px rgba(70, 68, 68, 0.1);
    align-items: center;
}
.logoofweb{
   margin-left: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: -150px;

}

.logo span {
    color: purple;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;

}
nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align: center;
    
}
.nav-link li a:hover{
    color: green;
    direction: underline;
}

.submit-btn {
    background: purple;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

 


.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 2cm;
    text-align: justify;
}

.content {
    width: 60%;
}

.content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-right: 1cm;
}

.image {
    width: 400px;
}

.image img {
    width: 400px;
    height: 300px;
    border-radius:10%;
    border: black solid;

}
