* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}
/* Top Bar */
.top-bar {
    background: grey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
/* Navigation */
nav {
    background: rgb(253, 252, 252);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0px 2px 5px rgba(70, 68, 68, 0.1);
    align-items: center;
}
.logoofweb{
   margin-left: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: -150px;

}

.logo span {
    color: purple;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;

}
nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align: center;
    
}
.nav-link li a:hover{
    color: green;
    direction: underline;
}

.submit-btn {
    background: purple;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}


body {
    background-color: gainsboro;
    padding: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #0aa1dd;
    margin: 5px auto;
}

.agent-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.agent-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.agent-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
   height: 200px;
   width: 200px;
}
agent-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.agent-card p {
    color: gray;
    font-size: 14px;
}