* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:gainsboro;
    
}
/* Top Bar */
.top-bar {
    background: grey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
/* Navigation */
nav {
    background: rgb(253, 252, 252);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0px 2px 5px rgba(70, 68, 68, 0.1);
    align-items: center;
}
.logoofweb{
   margin-left: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: -150px;

}

.logo span {
    color: purple;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;

}
nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align: center;
    
}
.nav-link li a:hover{
    color: green;
    direction: underline;
}

.submit-btn {
    background: purple;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

 

.login-container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    margin-left: 14cm;
}

h2 {
    margin-bottom: 10px;
}
p {
    color: gray;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-btn:hover {
    background: darkgreen;
}

.or-text {
    margin: 15px 0;
    font-weight: bold;
}

a {
    color: #0a74da;
    text-decoration: none;
}